@import './vars.scss';
@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@600;700&family=Roboto:wght@400;700&display=swap');

:root {
  --main-bg: #f2f6fa;
  --card-bg: #fffafa;
  --header-text: #ffff;
  --header-bg: #2c2c2c;
  --c-main-text: #2c2c2c;
  // ====
  --c-blue: #2060f6;
  --c-dark-blue: #1a4fc9;
  --c-gray: #6c788b;
  --jobs-gap: 30px;
}

body.dark {
  --main-bg: #0c2233;
  --header-bg: #020205;
  --card-bg: #083d56;
  --header-text: #ffff;
  --c-main-text: #dbd8e3;
}

body {
  margin: 0;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg);
}

main {
  flex-grow: 1;
}

.button {
  background-color: var(--c-blue);
  padding: 8px 10px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 200ms;
  color: var(--header-text);

  @include onDesktop {
    font-size: 18px;
    font-weight: 600;
    padding: 12px 16px;
  }

  &:hover {
    background-color: var(--c-dark-blue);
  }
}

.clickable:active {
  transform: scale(0.9);
}

.container {
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px 20px;

  @include onTablet {
    padding: 20px 40px;
  }
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;

  @include onDesktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }

  &__item {
    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }
  }
}
